{% extends 'tsCMSSystemBundle::layout.html.twig' %}
{% block title %}{{ "newsletterlist"|trans }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
